<div class="container mx-auto p-4 mt-5">
    <h2 class="application-head font-bold">Application Details</h2>
  
    <div *ngIf="loading">Loading...</div>
    <div *ngIf="error" class="text-red-500">{{ error }}</div>
  
    <div *ngIf="application" class="bg-white rounded-4 shadow p-4 space-y-2">
      <p class="title"><strong>Job Title: </strong> {{ application.jobTitle }}</p>
      <p class="name"><strong>Applicant Name: </strong> {{ application.jobSeekerName }}</p>
      <p class="date"><strong>Applied Date: </strong> {{ application.appliedDate | date }}</p>
      <p class="statusname">
        <strong>Status: </strong> 
        <span [ngClass]="{
          'text-warning': application.status.toLowerCase() === 'pending',
          'text-success': application.status.toLowerCase() === 'approved',
          'text-dark': application.status.toLowerCase() === 'reviewed'
        }">{{ application.status }}</span>
      </p>
  
      <div *ngIf="application.resume">
        <p>
            <strong>Resume:</strong> 
            <a (click)="downloadResume(application.resume.resumeId)"
            class="text-blue-600 underline resume">
            Download Resume
            </a>
        </p>
      </div>
      
  
      <div class="d-flex mt-4 gap-3">
        <button 
          class="rounded-3 approved-btn"
          (click)="updateStatus('Approved')">
          Approve
        </button>
        <button 
          class="rounded-3 pending-btn"
          (click)="updateStatus('Pending')">
          Set Pending
        </button>
        <button 
          class="rounded-3 reviewed-btn"
          (click)="updateStatus('Reviewed')">
          Mark Reviewed
        </button>
      </div>
    </div>
  </div>
  