@{
    ViewData["Title"] = "Home";
}
<h1>Welcome to CareerCrafter</h1>
<a asp-controller="Account" asp-action="Login" class="btn btn-primary">Login</a>
<a asp-controller="Account" asp-action="Register" class="btn btn-success">Sign Up</a>
